@using Kerwin.Directory.Web.Models
@using Kerwin.Directory.Web.Models.Utils
@model List<Kerwin.Directory.Web.Models.Utils.FileInfoModel>
@{
    Layout = "_Layout";
    string parentDir = ViewBag.ParentDir == null ? "/" : ViewBag.ParentDir;
    var parmam = ViewBag.Parmas == null ? "" : ViewBag.Parmas;
}
<div class="zy-main">
    @if (ConfigSettings.IsShowAnnouncement)
    {
        <div class="zy-announcement">
            <p style="margin: 0;"><strong>公告：</strong>加密密码<code> kerwin.cn </code>!</p>
        </div>
    }
    <ul class="zy-fi-list">
        <li class="zy-link zy-clearfix">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-9 zy-fi-fn">
                    文件
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 text-right">
                    大小
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs text-right">
                    修改时间
                </div>
            </div>
        </li>
        <li class="zy-link zy-clearfix">
            @if (!string.IsNullOrWhiteSpace(parmam))
            {
                <a href="@(parentDir == "/" ? "/" : "/?dir=" + parentDir)">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <i class="iconfont icon-level-up"></i>
                            ...
                        </div>
                    </div>
                </a>
            }
        </li>
        @foreach (FileInfoModel fileInfo in Model)
        {
            string target, url;
            if (fileInfo.FileType == FileType.Directory)
            {
                target = "";
                url = $"/?dir={fileInfo.FileVirtualPath}";
            }
            else
            {
                target = "target='_blank'";
                url = $"/{ConfigSettings.DownloadRequestVirtualDir}{fileInfo.FileVirtualPath}";
            }
            <li class="zy-link zy-clearfix">
                <a @Html.Raw(target) href="@(url)">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-9 zy-fi-fn">
                            <i class="iconfont @(fileInfo.Icon)"></i>
                            @fileInfo.FileName
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3 text-right">
                            @if (fileInfo.FileType == FileType.Directory)
                            {
                                @Html.Raw("-")
                            }
                            else if (fileInfo.Size > 1099511627776)
                            {
                                @Html.Raw((fileInfo.Size / 1099511627776).ToString("f2") + "TB")
                            }
                            else if (fileInfo.Size > 1073741824)
                            {
                                @Html.Raw((fileInfo.Size / 1073741824).ToString("f2") + "GB")
                            }
                            else if (fileInfo.Size > 1048576)
                            {
                                @Html.Raw((fileInfo.Size / 1048576).ToString("f2") + "MB")
                            }
                            else if (fileInfo.Size > 1024)
                            {
                                @Html.Raw((fileInfo.Size / 1024).ToString("f2") + "KB")
                            }
                            else
                            {
                                @Html.Raw(fileInfo.Size + "B")
                            }
                        </div>
                        <div class="col-md-3 col-sm-4 hidden-xs text-right">
                            @fileInfo.LastModifiedTime.ToString(ConfigSettings.DateFormatter)
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>