@using Kerwin.Directory.Web.Models
@using Kerwin.Directory.Web.Models.Utils
@model List<Kerwin.Directory.Web.Models.Utils.FileInfoModel>
@{
    Layout = "_Layout";
    string parentDir = ViewBag.ParentDir == null ? "/" : ViewBag.ParentDir;
    var parmam = ViewBag.Parmas == null ? "" : ViewBag.Parmas;
}
<div class="zy-main">
    @if (ConfigSettings.IsShowAnnouncement)
    {
        <div class="zy-announcement">
            <p style="margin: 0;"><strong>公告：</strong>@Html.Raw(ConfigSettings.AnnouncementContent)<i class="iconfont icon-qrcode"></i></p>
        </div>
    }
    else
    {
        <div class="zy-announcement">
            <p style="margin: 0;"><i class="iconfont icon-qrcode"></i></p>
        </div>
    }
    <ul class="zy-fi-list">
        <li class="zy-link zy-clearfix">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-9 zy-fi-fn">
                    文件
                </div>
                <div class="col-md-2 col-sm-2 col-xs-3 text-right">
                    大小
                </div>
                <div class="col-md-3 col-sm-4 hidden-xs text-right">
                    修改时间
                </div>
            </div>
        </li>
        <li class="zy-link zy-clearfix">
            @if (!string.IsNullOrWhiteSpace(parmam))
            {
                <a href="@(parentDir == "/" ? "/" : "/?dir=" + parentDir)">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <i class="iconfont icon-level-up"></i>
                            ...
                        </div>
                    </div>
                </a>
            }
        </li>
        @foreach (FileInfoModel fileInfo in Model)
        {
            string target, url;
            if (fileInfo.FileType == FileType.Directory)
            {
                target = "";
                url = $"/?dir={fileInfo.FileVirtualPath}";
            }
            else
            {
                target = "target='_blank'";
                url = $"/{ConfigSettings.DownloadRequestVirtualDir}{fileInfo.FileVirtualPath}";
            }
            <li class="zy-link zy-clearfix">
                <a @Html.Raw(target) href="@(url)">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-9 zy-fi-fn">
                            <i class="iconfont @(fileInfo.Icon)"></i>
                            @fileInfo.FileName
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3 text-right">
                            @if (fileInfo.FileType == FileType.Directory)
                            {
                                @Html.Raw("-")
                            }
                            else if (fileInfo.Size > 1099511627776)
                            {
                                @Html.Raw((fileInfo.Size / 1099511627776).ToString("f2") + "TB")
                            }
                            else if (fileInfo.Size > 1073741824)
                            {
                                @Html.Raw((fileInfo.Size / 1073741824).ToString("f2") + "GB")
                            }
                            else if (fileInfo.Size > 1048576)
                            {
                                @Html.Raw((fileInfo.Size / 1048576).ToString("f2") + "MB")
                            }
                            else if (fileInfo.Size > 1024)
                            {
                                @Html.Raw((fileInfo.Size / 1024).ToString("f2") + "KB")
                            }
                            else
                            {
                                @Html.Raw(fileInfo.Size + "B")
                            }
                        </div>
                        <div class="col-md-3 col-sm-4 hidden-xs text-right">
                            @fileInfo.LastModifiedTime.ToString(ConfigSettings.DateFormatter)
                        </div>
                    </div>
                </a>
                @if (fileInfo.IsLock)
                {
                    <i title="需要密码访问" data-path="@(fileInfo.FileVirtualPath)" class="iconfont icon-lock"></i>
                }
                else if (ViewBag.IsLogin ?? false)
                {
                    <i title="进行该目录设置密码" data-path="@(fileInfo.FileVirtualPath)" class="iconfont icon-lock1"></i>
                }
            </li>
        }
    </ul>
</div>
@if (ViewBag.GotoLogin ?? false)
{
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">欢迎登录~~</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Name))
                    {
                        <p class="bg-danger" style="text-align: center;padding: 6px;border-radius: 6px;">账号密码错误</p>
                    }
                    <form id="loginForm" action="" method="post">
                        <div class="form-group">
                            <label for="name">账号:</label>
                            <input type="text" class="form-control" id="name" name="name" value="@(ViewBag.Name)" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="password">密码:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="hide">立即登录</button>
                    </form>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">登陆</button>*@
                    <button type="button" id="btnLogin" class="btn btn-primary">立即登录</button>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.IsLogin ?? false)
{
    <!-- Set Path Access Password Modal -->
    <div class="modal fade" id="setPwdModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">设置密码</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">路径:</label>
                        <input type="text" class="form-control" id="path" name="path" value="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input type="text" class="form-control" id="pwdforpath" name="pwdforpath">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">以后再说</button>
                    <button type="button" id="btnSetPwd" class="btn btn-primary">设置密码</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove Path Access Password Modal -->
    <div class="modal fade" id="removePwdModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">取消密码</h4>
                </div>
                <div class="modal-body">
                    <p>路径：【<span id="showpath">/Projects/Visual_Studio_Extensions?</span>】</p>
                    <p>你确定要取消当前选中路径的密码么?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">我再想想</button>
                    <button type="button" id="btnRemovePwd" class="btn btn-primary">立即取消</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Show Qrcode Modal -->
<div class="modal fade" id="showQrcodeModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <img id="qrcode" src="@(ViewBag.QrCode)" />
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @if (ViewBag.GotoLogin ?? false)
    {
        <script>
            $(document).ready(function () {
                $('#loginModal').modal('show');
                setTimeout(function () {
                    $("#name").focus();
                }, 300);
                $("#btnLogin").click(function () {
                    $('#loginForm').submit();
                });
            });
        </script>
    }
    else if (ViewBag.IsLogin ?? false)
    {
        <script>
            $(document).ready(function () {
                $(".icon-lock").click(function () {
                    $("#showpath").text(decodeURI($(this).data("path")));
                    $("#removePwdModal").modal("show");
                });
                $(".icon-lock1").click(function () {
                    $("#path").val(decodeURI($(this).data("path")));
                    $("#setPwdModal").modal("show");
                    setTimeout(function () {
                        $("#pwdforpath").focus();
                    }, 300);
                });
                $("#btnSetPwd").click(function () {
                    var path = $("#path").val();
                    var pwdforpath = $("#pwdforpath").val();
                    if (!path) {
                        $("#path").focus();
                        return;
                    }
                    if (!pwdforpath) {
                        $("#pwdforpath").focus();
                        return;
                    }
                    $.ajax({
                        url: '/setpwd',
                        type: 'post',
                        data: { path, pwdforpath },
                        success: function (msg) {
                            $("#setPwdModal").modal("hide");
                            location.reload();
                        }
                    });
                });
                $("#btnRemovePwd").click(function () {
                    var path = $("#showpath").text();
                    if (!pwdforpath) {
                        alert("路径呢...");
                        return;
                    }
                    $.ajax({
                        url: '/removepwd',
                        type: 'post',
                        data: { path },
                        success: function (msg) {
                            $("#removePwdModal").modal("hide");
                            location.reload();
                        }
                    });
                });
            });
        </script>
    }
    <script>
        $(".icon-qrcode").click(function () {
            $("#showQrcodeModal").modal("show");
            $("#qrcode").attr("src", "/qrcode");
        })
    </script>
}